h2 {
    font-size: 15px;
}

h1 {
    font-size: 20px;
    padding-top: 20px;
}

p {
    font-size: 16.5px;
}

button {
    color: white;
    border: none;
}

.turismo {
    background-color: #a03535;
}

.imbobiliario {
    background-color: #a03535;
}

.cultura {
    background-color: #ffd153;
}

.politica {
    background-color: #762ea0;
}

.color {
    color: #d13f57;
    border: none;
}

.color:hover {
    background-color: rgba(189, 33, 59, 0.246);
}

.turismo2 {
    color: #a03535;
}

.imbobiliario2 {
    color: #a03535;
}

.cultura2 {
    color: #ffd153;
}

.politica2 {
    color: #762ea0;
}