* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Krona One', sans-serif;
    background: white;
}

header {
    /* width: 100%; */
    width: 100%;
    background: #11385D;
    vertical-align: middle;
    /* text-align: left; */
    /* position: fixed; */
    padding: 10px 0px 10px 100px;
}

nav {
    /* display: inline-block !important;
    width: 100% !important;
    text-align: right !important; */
    background-color: #11385D !important;
    /* border: none !important;
    box-shadow: none !important; */
}


/* 
header a {
    color: white;
    font-weight: 100;
    text-decoration: none;
    margin-right: 20px;
    text-align: right !important;
}

header ul li {
    list-style: none;
    display: inline-block;
    text-align: right !important;
}

.logo {
    font-weight: 600;
} */


/* .content {
    padding: 50px;
    text-align: center;
} */


/* .content .img-radius {
    width: 200px;
    height: 200px;
    border-radius: 50%;
} */

h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

#colorh1 {
    color: #11385D !important;
}

h2 {
    color: #11385D;
    /* align-items: center; */
    text-align: center;
    padding: 20px;
}


/* .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
} */


/* 
.container .card {
    width: 30%;
    background: rgb(250, 250, 250);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
}

.container .card-body {
    padding: 20px;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container .card img {
  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
}

.container .card h3 {
    color: #1d1d1f;
    padding: 10px;
}

.container .card h4 a {
    padding: 10px;
    color: #11385D;
    text-decoration: none;
}

.container .card p {
    padding: 5px;
    color: #1d1d1f;
    text-decoration: none;
} */

iframe {
    border-width: 0px;
}

h3 {
    color: #11385D !important;
    font-size: 25px !important;
}

.card-action a {
    color: #11385D !important;
}

.card-content {
    padding-top: 2px !important;
}